:root{
  --primary-color: #ffffff;
  --secondary-color: #54ea54;
  --triary-color: #181a1b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body{
  height: 100vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

header img{
  width: 120px;
  height: 40px;
  margin: 20px; 
}

.navbar{
  list-style: none;
}

.navbar li{
  display: inline-flex;
  padding: 0px 20px;
}

.navbar a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #383c3f;
}

.navbar li a:hover{
  color: var(--triary-color);
  padding: 9px 25px;
  background-color: var(--secondary-color);
  border-radius: 50px;
}

.btn{
  padding: 9px 25px;
  background-color: var(--secondary-color);
  border: none;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn:hover{
  background-color: #383c3f;
  color: #e6edf5;
}

.sidebar{
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
  padding: 20px;
  transition: all 0.3s ease 0s;
}

.sidebar a{
  width: 100%;
  text-decoration: none;
  color: #383c3f;
}

.sidebar li:hover{
  background-color: #e6edf5;
}

.btn2{
  display: none;
}

.search-box {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 5px;
  font-size: 16px;
  border-radius: 15px;
}

#search-btn {
  padding: 6px 10px;
  margin-left: 5px;
  background-color: var(--secondary-color);
  color: var(--triary-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

#search-btn:hover {
  background-color: #45a049;
}

.carousel-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
  gap: 10px;
}

.carousel-container {
  position: relative;
  width: 60%;
  height: 500px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 40px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img{
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px; 
}

.slide-iframe{
  width: 100%;
  height: 100%; 
  border-radius: 10px; 
}

.slide-iframe iframe{
  width: 830px;
  height: 500px;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; 
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover, .next-btn:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
}

.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-indicators .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-indicators .dot.active {
  background-color: #717171;
}

.container-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 500px;
  background: linear-gradient(180deg, #181a1b, #3e4346);
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 40px; 
  overflow: hidden;
}

.container-profile h1{
  font-weight: bold;
  font-size: 40px;
  color: var(--primary-color);
  padding: 20px;
}

.container-profile p{
  font-size: 18px;
  font-weight: 300;
  color: var(--primary-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  text-align: justify;
}

.container-profile button{
  padding: 12px 25px;
  background-color: var(--secondary-color);
  border: none;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.container-profile button:hover{
  padding: 16px 30px;
  font-size: 15px;
}

.program-title{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 80px;
  padding-bottom: 20px;
}

.program-title h2{
  font-weight: bold;
  font-size: 40px;
}

.program-title p{
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.container-program{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.program{
  width: 325px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.program img{
  width: 100%;
  height: 40%;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.program-content{
  padding: 16px;
}

.program-content h4{
  font-size: 24px;
  margin-bottom: 8px;
}

.program-content a{
  text-decoration: none;
}
.program-content p{
  font-size: 16px;
  text-align: justify;
  margin-bottom: 20px;
}

.program-content button{
  padding: 12px 25px;
  background-color: var(--secondary-color);
  border: none;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.program-content button:hover{
  background-color: var(--triary-color);
  color: var(--primary-color);
}

.title-article{
  display: flex;
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.title-article h2{
  font-weight: bold;
  font-size: 40px;
}

.filter-dropdown{
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-bottom: 20px;
  gap: 20px;
}

.filter-dropdown select{
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.container-artikel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10%;
  gap: 30px;
}

.article{
  width: 500px;
  height: 250px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  display: flex;
}

.article img{
  width: 40%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.article-content{
  padding: 16px;
}

.article-content h3{
  font-size: 18px;
}

.article-content p{
  font-size: 14px;
  color: #6c757d;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  background-color: #77aa77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
}

.footer-content img{
  width: 15%;
  height: 60%;
  margin-top: 20px;
  margin-left: 20px;
}

.footer-content p{
  display: flex;
  align-items: center;
  color: var(--triary-color);
  font-size: 16px;
  margin-top: 30px;
  margin-right: 50px;
}

.footer-content .social{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 50px;
}

.footer-content a{
  text-decoration: none;
  color: var(--triary-color);
  font-size: 25px;
}

.footer-content #instagram:hover{
  color: #e1306c;
}

.footer-content #linkedin:hover{
  color: #0e76a8;
}

.footer-content #github:hover{
  color: #333;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.footer p{
  color: var(--triary-color);
  font-size: 16px;
}

.line{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-mid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-mid ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 100px;
}

.footer-mid a{
  text-decoration: none;
  color: var(--triary-color);
  font-size: 18px;
  font-weight: bold;
}

hr{
  height: 1.5px;
  background-color: var(--triary-color);
  border: none;
  width: 95%;
}

@media(max-width: 800px){
  .navbar{
    display: none;
  }
  .btn{
    display: none;
  }
  .btn2{
    display: block;
  }
  .slide-container{
    width: 90%;
    height: 300px;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
    height: 100%;
  }
  .slide-container{
    width: 100%;
    height: 300px;
  }
}